ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 36px;
    line-height: 36px;
    width: 100%;
    border: 1px solid white;
    
}

li{
    float: left;
    border-right: 1px solid white;

}

a{
    display: block;
    width: 100%;
    padding: 0 63.4px;
    color: white;
    text-decoration: none;

}

a:hover{
    background-color: white;
}

